/* 通用样式 ----> */
body{
	padding:0; 
	margin:0;
	background-image: url(img/menu_bg.jpg);
}

#mainFrame { 
	width: 100%;  
	height: 100%; 
}

.title{
	font-weight: bold;
}

.border {
	border-right: #000000 1px solid;
	border-top: #000000 1px solid;
	border-left: #000000 1px solid;
	border-bottom: #000000 1px solid;
}

.cellGreen {
    background-color: #CEFFCE;
}

.cellOrange {
    background-color: orange;
}

.cellRed {
    background-color: #FFB5B5;
}



.cellYellow {
    background-color: #FFF4C1;
}

.cellBlue {
    background-color: #C4E1FF;
}

.cellPurple {
    background-color: #FFBFFF;
}

.cellDarkRed {
    background-color: red;
}

.cellDarkGreen {
    background-color: #92D050;
}

.fontRed{
	color:red;
}

#pagerDiv {
	width:60%;
	margin-top:20px;
	text-align: center;	
}

#pagerDiv p{
	font-size: 14px;
	float:left;
}

#legend td{
	width:80px;
	color:white;
}

#menuContainer {
	width:100%;
	height:100px;
	background: url(img/common_menu.jpg);
}

#menuContainer p{
	color:gray;
	text-decoration: none;
	float:left;
	margin-top:40px;
	margin-left:20px;
	width:165px;
	height:28px;
	font-size: 28px;
	font-weight: bold;
	font-family: "隶书";
	text-align:center;
}

#menuContainer a:link {
	color: white; 
	text-decoration: none; 
} 

.rightBorder{
	border-right: #FFFFFF 1px solid;
}

#userInfoContainer {
	position:absolute;
	top: 15px; 
  	left: 1100px;
  	color: white; 
  	font-size: 14px;
  	height:40px;
}

#userInfoContainer p{
	margin:1px;
}

#userInfoContainer a:link {
	color: white; 
} 

a:visited{
	color:#FFFFFF;
}
/* 通用样式 <---- */ 