<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<HEAD>
<LINK href="css/TEASCommon.css" rel="stylesheet" type="text/css">
<LINK href="css/error.css" rel="stylesheet" type="text/css">
<SCRIPT language=JavaScript src="js/jquery-1.8.2.min.js" type=text/javascript></SCRIPT>
<SCRIPT language=JavaScript src="js/material.js" type=text/javascript></SCRIPT>
<TITLE>错误页面</TITLE>
</HEAD>

<BODY>  
<div id="errorBox">
    <ul>
    	<li><img src="css/img/error.png"></li>
    	<li class="msg"><p th:text="'错误提示：'+ ${errMsg}" /></li>
    	<li><input type="button" value="返回登录页面" onclick="gotoLogin()"/>&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="返回上一页" onclick="history.go(-1)"/></li>
    </ul>
</div> 
</BODY>

</HTML>
